body {
  background-color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(59, 59, 59);
}

.timeline-card-heading {
  padding-top: 0.25rem;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(61, 65, 65);
}

#description {
  margin: 1.5em 0 2em 0;
}

.timeline-button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.project-button {
  background-color: #baabda;
}

.project-button:hover {
  background-color: #8f7eb4;
}

.experience-button {
  background-color: #ff5c8d;
}

.experience-button:hover {
  background-color: #ff3874;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}

.page-body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem; /* Footer height */
}

.resume-margin {
  margin-left: 25%;
  margin-bottom: 3rem;
}

.button {
  border: none;
  padding: 18px 70px;
  margin: 20px;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1.5s;
}

.btn2 {
  background: linear-gradient(to left, #525657, #d8e1e4, #525657);
  background-size: 200%;
}

.button:hover {
  background-position: right;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Footer height */
}
